<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSection" type="Estar.Common.Tools.DataConnSection,Estar.Common.Tools" />
	</configSections>
	<CustomSection>
		<DataSource>
      <add name="default" type="SqlClient" value="server=lzh\sql2008;user id=sa;password=sasa;database=jdf12;Min Pool Size=10;Connection Lifetime=240;Connection Timeout=120;"/>
    </DataSource>
	</CustomSection>
	<appSettings>
		<add key="SystemDB" value="SmartCardsys" />
		<add key="WorkConfig" value="resources" />
		<add key="SystemConfig" value="系统数据源" />
		<add key="Granity文件服务" value="2010"/>
		<add key="TimeWork" value="11:10:00"/>
		<add key="mylogtype" value="file"/>
		<add key="commiTimeout" value="300"/>
		<add key="commiCnnout" value="0"/>
		<add key="commiSecondeInv" value="2"/>
	</appSettings>
</configuration>